{% extends "places/base.html" %}
{% load static %}

{% block title %}{{ place.title }} — Places to Visit{% endblock %}

{% block content %}
<div class="page-header">
    <h2>{{ place.title }}</h2>
    <a href="{% url 'place_list' %}" class="nav-link">← Назад до списку</a>
</div>

<div class="card" style="display: flex; gap: 20px;">
    <img src="{% static 'places/foto.jpg' %}" alt="{{ place.title }}"
         style="width: 300px; border-radius: 8px; object-fit: cover;">

    <div>
        <p><strong>Категорія:</strong> <span class="place-type">{{ place.category|default:"Локація" }}</span></p>
        <p><strong>Розташування:</strong>
            {% if place.location %}
            {{ place.location }}
            {% else %}
            Secret place👀
            {% endif %}
        </p>
        <p><strong>Рейтинг:</strong> ★ {{ place.rating }}/5</p>
        <p><strong>Додано:</strong> {{ place.created_at }}</p>

        <hr style="border: 0; border-top: 1px solid #cbd5e1; margin: 15px 0;">

        <p style="color: #555; line-height: 1.6;">{{ place.description }}</p>
    </div>
</div>
{% endblock %}